.item{
    width: 21.6vw;
    height: 3.1vw;
    margin-top:2vw;
    border-radius: 2vw;
    background: #FFFFFF;
    border: 0.1vw solid #DDDDDD;
    border-radius: 0.5vw;
    font-style: normal;
    font-weight: 400;
    font-size: 1.7vw;
    line-height: 3.1vw;

    font-family: 'Montserrat', sans-serif;


    color: #000000;

    display:flex;
}
.myDiv{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:1vw
}
.col{
    display: flex;
    flex-direction: column;
}

.cursor{
    align-items: right;
    padding-left: 1vw;
}